@import '../../responsive/responsive.scss';
$hover-color: hsl(145, 64%, 43%);


@mixin triangle {
    background-color: transparent;
    border-top: solid transparent 10px;
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid #fff 10px;
    width: 0px;
    height: 0px;
    // position: absolute;
    top: 30px;

}




@include big {

    .categoriesTriangle {
        margin-left: 2vw;
    }
}

@include mediumtobig {
    .categoriesMenu {
        margin-left: 2vw;
    }

    .categoriesTriangle {
        margin-left: 10vw !important;
    }
}

@include medium {
    .categoriesMenu {
        margin-left: 3vw;
    }

    .categoriesTriangle {
        margin-left: 10vw !important;
    }
}


@include smalltomedium {
    
    .categoriesMenu {
        margin-left: 3vw;
    }

    .categoriesTriangle {
        margin-left: 10vw !important;
    }
}

@include small {
    .categoriesMenu {
        margin-left: 3vw;
    }

    .categoriesTriangle {
        margin-left: 8vw !important;
    }

}


.categoriesParent {
    position: absolute;
    z-index: 3;
    left: -3vw;

.categoriesTriangle {
    @include triangle;
    margin: auto;
}


.categoriesMenu {
    display: flex;
    background-color: white;
    // position: absolute;
    border-radius: 0px 10px 0px 10px;
    border: solid 3px white;


    .categoriesMenuContainer {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: auto;
        padding: 15px;
        color: grey;
        box-shadow: 2px 3px 10px green;

        .categoriesItems {
            display: flex;
            background-color: white;
            margin: 0;
            margin-top: 5px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            position: relative;
            cursor: pointer;

            .categoriesIcon {
                position: absolute;
                right: 0;
                color: black;
                top: 3px;
            }
        }
    }
}
}