@mixin sliderButton {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 45%;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 100%;
    background-color: green;
    border: solid 3px grey;
}

body {
    ::selection {
        color: green;
    }

    overflow-x: hidden;
}

.slider {
    margin-top: 10px;
    transition-duration: 1s;
    transition-property: transform;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    &:hover {
        transform:scale(1.01, 1.01);
    }

img::selection {
    color: transparent;
}

.sliderContainer {
        margin: auto;
        display: flex;
        align-items: center;
        max-width: 1300px;
        height: 350px;
        position: relative;

        .sliderLeft {
            @include sliderButton;
            margin-left: 10px;
            left: 2%;
        }

        .sliderRight {
            @include sliderButton;
            right: 2%;
            margin-right: 10px;
        }

        .sliderImage {
            width: 1200px;
            height: 370px;
            margin: auto;
        }
    }
    
    .circlesContainer {
        // border: solid 1px #000;
        width: 100%;
        height: 100%;
        align-items: flex-end;
        display: flex;
        justify-content: center;



        .sliderCircle {
        position: relative;
        justify-content: center;
        color: white;
        border-radius: 50%;
        cursor: pointer;
        font-size: 11px;
        background-color: green;
        border: transparent;
        outline: none;
        color: green;
        margin-left: 3px;
    }

}
}
