$small: 468px;
$smalltomedium: 768px;
$medium: 1024px;
$mediumtobig: 1280px;
$big: 1600px;
$fhd: 1920px;


@mixin noSelect {
    ::selection {
    color: inherit;
    background-color: transparent;
    }
}


body {
    ::selection {
        color: white;
        background-color: green;
    }

    overflow-x: hidden;
}

@mixin small {
    @media (max-width: #{$smalltomedium - 1px}){
        @content;
    }
}

@mixin smalltomedium {
    @media (min-width: #{$smalltomedium}) and (max-width: #{$medium - 1px}) {
        @content;
    }
}

@mixin medium {
    @media (min-width: #{$medium}) and (max-width: #{$mediumtobig - 1px}) {
        @content;
    }
}

@mixin mediumtobig {
    @media (min-width: #{$mediumtobig}) and (max-width: #{$big - 1px}) {
        @content;
    }
}

@mixin big {
    @media (min-width: #{$big}) and (max-width: #{$fhd - 1px}) {
        @content;
    }
}

@mixin fhd {
    @media (min-width: #{$fhd}) {
        @content;
    }
}