$small: 468px;
$smalltomedium: 768px;
$medium: 1024px;
$mediumtobig: 1280px;
$big: 1600px;
$fhd: 1920px;

@mixin small {
    @media (max-width: #{$small}) {
        @content;
    }
}

@mixin smalltomedium {
    @media (min-width: #{$small+1px}) {
        @content;
    }
}

@mixin medium {
    @media (min-width: #{$smalltomedium+1px}) {
        @content;
    }
}

@mixin mediumtobig {
    @media (min-width: #{$medium+1px}) {
        @content;
    }
}

@mixin big {
    @media (min-width: #{$mediumtobig+1px}) {
        @content;
    }
}

@mixin fhd {
    @media (min-width: #{$big+1px}) and (max-width: #{$fhd}) {
        @content;
    }
}