@import '../../responsive/responsive.scss';
$hover-color: hsl(145, 64%, 43%);


@mixin triangle {
    background-color: transparent;
    border-top: solid transparent 10px;
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid white 10px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -20px;
}

@include big {
    .cart {
        margin-left: 1vw;
    }
}

@include mediumtobig {
    .cart {
        margin-left: 2vw;
    }
}




.cart {

    display: flex;
    background-color: white;
    position: absolute;
    z-index: 3;
    border-radius: 0px 10px;
    box-shadow: 2px 2px 20px rgb(14, 134, 62);

    .cartContainer {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: auto;
        padding: 15px;
        color: grey;
        position: relative;
    }

    .cartContainerTriangle {
        @include triangle;
    }


    .cartClearButton {
        border: none;
        background-color: red;
        padding: 10px;
        color: white;
        border-radius: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        outline: none;
        margin: auto;
        display: flex;
    }

}